<!doctype html>
<html lang="en" ng-app="RetrhoRoulette">
<head>
    <!--{{{ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Retrho Roulette</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--}}} -->
</head>

<body ng-controller="ExerciseCtrl">
    <div class="container-fluid">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!--{{{ Create your exercise list panel -->
            <div class="panel panel-default">
                <!--{{{ Panel header -->
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne">
                            Create your exercise list
                        </a>
                    </h4>
                </div>
                <!--}}} -->
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <form class="form-inline"
                         ng-if="exercises.length < numberOfExercises"
                         ng-submit="addExercise()">
                            <div class="form-group">
                                <label for="newExercise">
                                    Add {{ exercisesToAdd }} exercises to your workout:
                                </label>
                                <input type="text" class="form-control" id="newExercise"
                                  ng-model="newExercise"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item"
                              ng-repeat="ex in exercises"
                              ng-if="$index > 0">
                                {{ ex.name }}
                                <button type="button" class="close"
                                  ng-if="$index != 0"
                                  ng-click="deleteExercise($index)">
                                    <span>&times;</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--}}} -->

            <!--{{{ Do your workout panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <!--{{{ -->
                    <h4 class="panel-title">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo">
                            Do your workout
                        </a>
                    </h4>
                    <!--}}} -->
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                  aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <!--{{{ Reps categories -->
                        <div class="row">
                            <div
                             ng-repeat="cat in repsCategories"
                             class="col-xs-3 rep-category {{cat.className}}">
                                <img ng-src="img/{{ cat.icon }}" class="img-responsive"/>
                            </div>
                        </div>
                        <!--}}} -->

                        <!--{{{ Exercise list -->
                        <ul class="list-group">
                            <li class="list-group-item"
                              ng-repeat="ex in exercises">{{ ex.name }}</li>
                            </li>
                        </ul>
                        <!--}}} -->

                        <!--{{{ Button for next exercise -->
                        <div class="row">
                            <div class="col-xs-4">
                                <button
                                  ng-if="exerciseHistory.length < cards.length"
                                  ng-disabled="exercises.length != numberOfExercises"
                                  ng-click="computeNextExercise()"
                                  class="btn btn-success">
                                    Next exercise
                                </button>
                                <button
                                  ng-if="exerciseHistory.length == cards.length"
                                  ng-click="done()"
                                  class="btn btn-success">
                                    You did it
                                </button>
                            </div>
                            <div ng-if="nextExercise" class="col-xs-8">
                                <span ng-if="nextExercise.id > 0">
                                    Gimme some {{ nextExercise.name }}: {{ nextExercise.reps}} reps
                                </span>
                                <span ng-if="nextExercise.id == 0">
                                    Take a rest and continue when you are ready
                                </span>
                            </div>
                        </div>
                        <!--}}} -->

                        <!--{{{ Progress bar -->
                        <div class="progress">
                        </div>
                        <!--}}} -->
                    </div>
                </div>
            </div>
            <!--}}} -->

            <!--{{{ Workout results panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <!--{{{ -->
                    <h4 class="panel-title">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree">
                            Workout results
                        </a>
                    </h4>
                    <!--}}} -->
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <table ng-if="exerciseHistory.length" class="table table-condensed">
                            <caption>Totals</caption>
                            <tr>
                                <th>Exercise</th>
                                <th>Total reps</th>
                            </tr>
                            <tr ng-repeat="ex in exercises">
                                <td>{{ ex.name }}</td>
                                <td>{{ ex.totalReps }}</td>
                            </tr>
                        </table>
                        <table ng-if="exerciseHistory.length" class="table table-condensed">
                            <caption>History</caption>
                            <tr>
                                <th>Exercise</th>
                                <th>Reps</th>
                                <th>Start time</th>
                            </tr>
                            <tr ng-repeat="ex in exerciseHistory">
                                <td>{{ex.name}}</td>
                                <td><span ng-if="ex.id > 0">{{ex.reps}}</span></td>
                                <td>{{ex.timeInMilli | date : 'mm:ss' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--}}} -->
        </div>
    </div>
    <!--{{{ js scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>

    <script src="util.js"></script>
    <script src="animate.js"></script>
    <script src="exercise.js"></script>
    <!--}}} -->
</body>
</html>
